# app/views/journal_articles/show.html.erb
<h1>&lt;%= @journal_article.title %>&lt;</h1>
  <dl>
    <dt>Title&lt;/dt>
    <dd>
      <%= @journal_article.title %>
    </dd>
    <dt>Journal&lt;/dt>
    <dd>
      <%= @journal_article.journal_title %>
    </dd>
  </dl>
